body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.13YkNno2dQ7qZOaiUwDargHaEK&pid=Api&P=0&h=220');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center
    
    
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 500px rgba(246, 30, 6, 0.957);
    width: 700px;
    transition: all 0.3s ease-in-out; /* Adding transition effect */
   
    
}

h1 {
    text-align: center;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0f0909;
}

.task-input button {
    width: 25%;
    padding: 5px;
    background-color: #e43c0e;
    color: rgb(11, 5, 5);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #218838;
}

.task-sections {
    display: flex;
    justify-content: space-between;
}

.task-box {
    background-color: #b2e40f;
    padding: 20px;
    border-radius: 30px;
    width: 48%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.task-box:hover{
    transform: translateY(-5px); /* Slightly lift the box */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Increase shadow intensity */
    background-color: #e9ecef; /* Optional: change background color */
}



.task-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    background-color: rgb(198, 21, 21);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.task-list li.completed {
    text-decoration: line-through;
    background-color: #e0790b;
}

.task-list button {
    background-color: #dc3545;
    color: rgb(211, 225, 12);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.task-list button:hover {
    background-color: #c82333;
}

.task-list .edit-button {
    background-color: #ffc107;
    margin-right: 5px;
}

.task-list .edit-button:hover {
    background-color: #e0a800;
}



